<!--Product name and image-->
<td data-title="Product Image &amp; name" class="t_md_align_c">
  <img src="../../../public/images/quick_view_img_10.jpg" alt="" class="m_md_bottom_5 d_xs_block d_xs_centered">
  <!-- TODO: implement on click open modal here. -->
</td>
<!--product key-->
<td data-title="SKU">PS01</td>
<!--product price-->
<td data-title="Price">
  <s>$102.00</s>
  <p class="f_size_large color_dark">$102.00</p>
</td>
<!--quanity-->
<td data-title="Quantity">
  <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark m_bottom_10">
    <button class="bg_tr d_block f_left" data-direction="down">-</button>
    <input type="text" name="" readonly value="1" class="f_left">
    <button class="bg_tr d_block f_left" data-direction="up">+</button>
  </div>
  <div>
    <a href="#" class="color_dark"><i class="fa fa-check f_size_medium m_right_5"></i>Update</a><br>
    <a href="#" class="color_dark"><i class="fa fa-times f_size_medium m_right_5"></i>Remove</a><br>
  </div>
</td>
<!--subtotal-->
<td data-title="Subtotal">
  <p class="f_size_large fw_medium scheme_color">$102.00</p>
</td>
